* {
    box-sizing: border-box;
}
html {
    font-family: 'Poppins', sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.header__inner {
    display: flex;
}
.yellow {
    stroke: #FEFF59;
}
.orange {
    stroke: #FF9369;
}
.green {
    stroke: #2D5559;
}
.arrow__icon svg {
    width: 43px;
    height: 43px;
}
.arrow__icon .big {
    width: 57px;
    height: 57px;
}